body {
    background-color: black;
    color: white;
    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: solid red; */
    width: 60%;
    max-width: 1500px;
    min-width: 733px;
    margin: 30px auto;
}

.l1 {
    /* border: solid green; */
    width: 45%;
    text-align: left;
    font-size: 1.2rem;
}


.r1 {
    /* border: solid blue; */
    width: 50%;
    position: relative;   /* NOTE: this is to make children with position=absolute to work*/
}

.r1 > img {
    width: 100%;
    /* border: solid pink 10px; */
}

hr {
    border: solid rgba(255, 255, 255, 0.1) 3px;
}

.our-story-card-video {
    position: absolute;
    top: 20.8%;
    left: 13.2%;
    width: 72.7%;
    z-index: -1000;
}

.mac-video {
    position: absolute;
    top: 11%;
    left: 19%;
    width: 61%;
    z-index: -1000;
}